.main {
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 90px 0px 90px 0px;
}
.sub-main {
  justify-content: center;
  padding: center;
  display: inline-flexbox;
  height: 700px;
  width: 30%;
  box-shadow: 11px 12px 13px 12px rgba(0, 0, 0, 0.33);
  border-radius: 80px;
  background-color: rgba(205, 50, 156, 0);
}
.Intro {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-size: medium;
  color: rgb(34, 99, 179);
}
.img {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}
.container image {
  background-color: rgb(249, 244, 244);
  display: flex;
  border-radius: 150px;
  align-items: center;
  height: 115px;
}
.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
}
.statement {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-style: inherit;
  font-size: 20px;
}
input {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #aba6a6;
  background-color: mintcream;
}
.email {
  height: 26px;
  width: 26px;
  position: absolute;
  padding: 14px 0 0 25px;
}
.password {
  height: 26px;
  width: 26px;
  position: absolute;
  padding: 14px 0 0 25px;
}
.name {
  padding-left: 50px;
  font-size: 15px;
}
.password {
  padding-right: 50px;
  font-size: 15px;
}
.input1 {
  padding-block: 20px;
}

.second-input {
  padding-top: px;
}
button {
  width: 300px;
  height: 45px;
  border-radius: 60px;
  background-color: rgb(74, 134, 129);
}
.Button1 {
  padding-top: 30px;
  font-size: 10px;
}
.state2 {
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.form3 {
  padding-top: 25px;
}
.form2 {
  padding-top: 25px;
}
.form1 {
  padding-top: 20px;
}
.Reg {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-size: medium;
  color: rgb(34, 99, 179);
  padding-top: 55px;
}
.Button2 {
  padding-top: 30px;
  font-size: 10px;
}
